.column {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__wrapper {
    min-height: 70vh;
    background: #ecebe7;
    width: 258px;
    border-radius: 10px;
    padding: 12px;
  }

  &__name {
    font-weight: 700;
  }
}
